<h1 class="text-center mb-4 pb-3 border-bottom border-primary-light">
    <i class="bi bi-house"></i>
    Home
</h1>

<video id="trailerPlayer" class="w-100" controls>
    <track src="../../../assets/other/subtitlesEn.vtt" kind="subtitles" srclang="en" label="English">
    <track src="../../../assets/other/subtitlesDe.vtt" kind="subtitles" srclang="de" label="Deutsch">
</video>

<button class="d-block mx-auto mt-2 btn-lg btn-primary" (click)="switchAudio()">
    <i class="bi bi-music-note-beamed"></i> 
    Switch audio
</button>
