<h1 class="text-center mb-4 pb-3 border-bottom border-primary-light">
    <i class="bi bi-award"></i>
    Tutorials
</h1>

<div *ngFor="let tutorial of tutorials; let i = index" class="card mb-3 bg-secondary-light shadow pe-auto overflow-hidden">
    <div class="row g-0">
        <div class="col-md-3" style="height: 200px;" (click)="playClickSound()">
            <!-- Thumbnail -->
            <ng-container *ngIf="tutorial.thumbnailType == 'default'">
                <img class="img-cover" [src]="'../../../assets/thumbnails/' + tutorial.thumbnail + '.png'" [alt]="tutorial.thumbnail">
            </ng-container>

            <ng-container *ngIf="tutorial.thumbnailType == 'w'">
                <img class="img-cover" [src]="'../../../assets/thumbnails/' + tutorial.thumbnail + '.png'" [alt]="tutorial.thumbnail"
                    [srcset]="'../../../assets/thumbnails/' + tutorial.additionalThumbnails[1] + 
                    '.png 2000w, ../../../assets/thumbnails/' + tutorial.additionalThumbnails[0] + 
                    '.png 1300w, ../../../assets/thumbnails/' + tutorial.thumbnail + '.png 768w'">
            </ng-container>

            <ng-container *ngIf="tutorial.thumbnailType == 'x'">
                <img class="img-cover" [src]="'../../../assets/thumbnails/' + tutorial.thumbnail + '.png'" [alt]="tutorial.title + '-Thumbnail'"
                    [srcset]="'../../../assets/thumbnails/' + tutorial.additionalThumbnails[1] + 
                    '.png 3x, ../../../assets/thumbnails/' + tutorial.additionalThumbnails[0] + 
                    '.png 2x, ../../../assets/thumbnails/' + tutorial.thumbnail + '.png 1x'">
            </ng-container>
            <!-- End Thumbnail -->
        </div>
        <div class="col-md-8" (click)="playClickSound()">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bi" [class]="'bi-dice-' + (i + 1)"></i>
                    {{tutorial.title}}
                </h5>
                <p class="card-text">
                    {{tutorial.summary}}
                </p>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary h-100 w-100" (click)="selectTutorial(tutorial)">
                <i class="bi bi-caret-right" style="font-size: 28px"></i>
            </button>
        </div>
    </div>
</div>