input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-bright);
    transition: background-color 5000s ease-in-out 0s;
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--color-darker);
    box-sizing: border-box;
    box-shadow: 0 10px 10px var(--color-darker);
    border-radius: 10px;
}

.form-title {
    margin: 0 0 30px;
    text-align: center;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--color-bright);
    outline: none;
    background: transparent;
}
.input-group label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--color-primary);
    font-size: 12px;
}

form button {
    margin-top: 40px;
}

.form-box .footer {
    margin-top: 40px;
    margin-bottom: 5px;
}