<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-secondary-dark">
    <div class="container-fluid justify-content-center">
        <object data="../assets/other/logo.svg" type="image/svg" width="100" height="100"></object>
        <a class="navbar-brand" routerLink="/">EZ-Drums</a>
    </div>
</nav>

<main class="flex-grow-1 my-2">
    <router-outlet></router-outlet>
</main>

<footer class="navbar navbar-expand-lg navbar-dark bg-secondary-dark">
    <div class="container-fluid justify-content-center">
        <span class="navbar-text">
            ©Adrian Habeler, Silvan Eugster - 2021
        </span>
    </div>
</footer>