<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-secondary-dark">
    <div class="container-fluid mx-2">
        <a class="me-3" style="margin-bottom: -10px;" routerLink="/">
            <object data="../assets/other/Logo.svg" height="50" width="50" style="user-select: none; pointer-events: none;"></object>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav me-auto justify-content-center mb-2 mb-lg-0">
                <div class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" routerLink="/tutorials" routerLinkActive="active">Tutorials</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" routerLink="/impressum" routerLinkActive="active">Impressum</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="flex-grow-1 my-2">
    <router-outlet></router-outlet>
</main>

<footer class="navbar navbar-expand-lg navbar-dark bg-secondary-dark">
    <div class="container-fluid justify-content-center">
        <p class="my-1">
            ©<a target="_blank" href="https://github.com/Adrian37x">Adrian Habeler</a>, 
            <a target="_blank" href="https://github.com/AusPrinzxp">Silvan Eugster</a> - 2021
        </p>
    </div>
</footer>